<IfModule authz_core_module>
	Require all denied
</IfModule>
<IfModule !authz_core_module>
	Deny from all
</IfModule>

<Limit GET POST PUT DELETE PATCH OPTIONS>
# Deprecated apache 2.2 syntax:
 Order Allow,Deny
 Allow from all
# Apache > 2.4 requires:
Require all granted
</Limit>
